html, body, figure, figcaption, ul, li, span {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  text-align: inherit;
}

ul {
  list-style: none;
}

.group:after {
  content: "";
  clear: both;
  display: block;
}

body {
  font-family: sans-serif;
  text-align: center;
  font-weight: bold;
}

h1 {
  color: darkgreen ;
  font-size: 30px;
  margin: 30px;
}

ul {
  margin: 30px auto;
  width: 744px;
  border: 6px solid #282828 ;
  border-radius: 10px;


}

li {
  display: block;
  float: left;
  width: 91px;
  height: 91px;
  border: 1px solid #282828 ;
  background: white;
  cursor: pointer;
}



li:nth-child(-2n+8),
li:nth-child(8) ~ li:nth-child(-2n+15),
li:nth-child(16) ~ li:nth-child(-2n+24),
li:nth-child(24) ~ li:nth-child(-2n+31),
li:nth-child(32) ~ li:nth-child(-2n+40),
li:nth-child(40) ~ li:nth-child(-2n+47),
li:nth-child(48) ~ li:nth-child(-2n+56),
li:nth-child(56) ~ li:nth-child(-2n+63) {
    background: #303030 ;
    z-index: 1;
}

span {
  display: block;
  float: left;
  width: 91px;
  height: 91px;
  border: 1px solid #383838 ;
  background: black;
  cursor: pointer;
}

.selected, .selected:hover {
  background: lightgreen !important;
}

.possibleMoves {
  background: lightgreen !important;

}
.bb {
  content:url('../images/bb.png');

}
.bk {
  content:url('../images/bk.png');
}
.bn {
  content:url('../images/bn.png');
}
.bp {
  content:url('../images/bp.png');
}
.bq {
  content:url('../images/bq.png');
}
.br {
  content:url('../images/br.png');
}
.wb {
  content:url('../images/wb.png');
}
.wk {
  content:url('../images/wk.png');
}
.wn {
  content:url('../images/wn.png');
}

.wp {
  content:url('../images/wp.png');
}
.wq {
  content:url('../images/wq.png');
}

.wr {
  content:url('../images/wr.png');
}

li:hover {
  background: lightgreen !important;
}


.game-over li {
  color: red;
  cursor: default;
  background: white;
}

.winner-W .W,
.winner-B .B {
  background: green;
  color: white;
}

figcaption {
  font-size: 30px;
}

.selectValid{
  font-weight:bold;
  font-size: 70;
  text-shadow:2px 2px 1px #fff;

  position: relative;
  text-align:center;
  bottom:10px;
  background:transparent;
  color:green;

  border:none;

}
